{% extends "base.html" %}
{% block content %}
<html><head>
    <!--CSSを埋め込む-->
    <link rel="stylesheet"
    href="{{url_for('static',filename='style.css')}}">
    <style>
        /* スマートフォン対応 
        @media screen and (max-width: 768px) {
            body {
            font-size: 18px;
            }
        }
        /*ボタンスタイル*/
        .btn {
            background-color: rgb(151, 201, 248);
            color: rgb(78, 4, 4);
            font-size: 14px;
            padding: 8px 12px;
        }
        .btn1 {
            background-color: white;
            color: black;
            font-size: 12px;
            padding: 10px 33px;
        }
      </style>
    <script>
    </script>

<img src="/image/R3.jpg" alt="写真">
<h1>勤怠編集</h1>
<form method="POST">
    <table width="700" border="2">
        <tr>
            <th>ID</th>
            <th>実施日</th>
            <th>店舗NO</th>
            <th>企業名</th>
            <th>店舗名</th>
        </tr>
         <tr>
            <td>{{id}}</td>
            <td>{{post.date}}</td>
            <td>{{post.storeNo}}</td>
            <td>{{post.kigyo}}</td>
            <td>{{post.store}}</td>
        </tr>
    </table>  
    <p></p>
    <p></p>
    <table border="2"> 
        <tr>
            <th>No</th>
            <th>社員番号</th>
            <th>氏名</th>
            <th>ﾘｰﾀﾞｰ</th>
            <th>開始</th>
            <th>終了</th>
            <th>休憩開始</th>
            <th>休憩終了</th>
            <th>交通費(円)</th>
            <th>交通費(㎞)</th>
            <th>備考</th>
        </tr>
        {%for kintai in kintai_list %}
        <tr>
            <td>
                {{kintai.Unum}}
            </td>
            <td width="70">
                <input type="integer"  size="5" minlength="7" maxlength="7", name="roster" value="{{kintai.roster}}">
            </td>
            <td>{{kintai.name}}</td>
            <td>
                <input type="checkbox", name="leader" value="1">
            </td>
            <td>
                <input type="time", name="storein" value="{{kintai.storein}}">
            </td>
            <td>
                <input type="time", name="storeout" value="{{kintai.storeout}}">
            </td>
            <td>
                <input type="time", name="kyus" value="{{kintai.kyus}}">
            </td>
            <td>
                <input type="time", name="kyue" value="{{kintai.kyue}}">
            </td>
            <td width="40">
                <input type="number" size="5", name="kotue" value="{{kintai.kotue}}">
            </td>
            <td width="40">
                <input type="number" size="5", name="kotuk" value="0">
            </td>
            <td>
                <input type="text", name="biko" value="{{kintai.biko}}">
            </td>
        </tr>
        {% endfor %}
    </table>
    <p></p>
    <p1>確認画面で内容を再確認</p1><br>
    <p></p>
    <input type="submit"　 class="btn" value="修正　勤怠確認画面へ">
    <p></p>

</form>

<!--<a href="/"  role="botton">一覧に戻る</a>-->

{% endblock %}