{% extends "base.html" %}
{% block content %}
<html><head>
    <!--CSSを埋め込む-->
    <link rel="stylesheet"
    href="{{url_for('static',filename='style.css')}}">
    <style>
        /* スマートフォン対応 
        @media screen and (max-width: 768px) {
            body {
            font-size: 18px;
            }
        }
        /*ボタンスタイル*/
        .btn {
            background-color: rgb(151, 201, 248);
            color: rgb(78, 4, 4);
            font-size: 33px;
            padding: 4px 8px;
        }
        .btn1 {
            background-color: white;
            color: black;
            font-size: 12px;
            padding: 10px 33px;
        }
    </style>
    <script>
    </script>
    
<img src="/image/R3.jpg" alt="写真">
<h1>勤怠入力画面</h1>
<!--<form method="POST">-->

<P>社員番号入力してください。</P>
<P1>店舗情報</P1>
    <form action="/{{id}}/{{post.date}}/kintai" method="POST" >
        <table width="700" border="2">
            <tr>
                <th>ID</th>
                <th>実施日</th>
                <th>店舗NO</th>
                <th>企業名</th>
                <th>店舗名</th>
            </tr>
             <tr>
                <td>{{id}}</td>
                <td>{{post.date}}</td>
                <td>{{post.storeNo}}</td>
                <td>{{post.kigyo}}</td>
                <td>{{post.store}}</td>
            </tr>
        </table>  
        
        <h3>メンバーの社員情報入力してください</h3>
        <table border="2" bgcolor="#CCFFFF">
            <tr>
                <th>社員番号</th>
            </tr>
                <tr>
                    <td width="40"><input type="text" size="20" minlength="7" maxlength="7", name="roster1"  value="{{roster1}}"></td>
                </tr>
                <tr>
                    <td width="40"><input type="text" size="20" minlength="7" maxlength="7", name="roster2"  value="{{roster2}}"></td>
                </tr> 
                <tr>
                    <td width="40"><input type="text" size="20" minlength="7" maxlength="7", name="roster3"  value="{{roster3}}"></td>
                </tr>  
                <tr>
                    <td width="40"><input type="text" size="20" minlength="7" maxlength="7", name="roster4"  value="{{roster4}}"></td>
                </tr>  
                <tr>
                    <td width="40"><input type="text" size="20" minlength="7" maxlength="7", name="roster5"  value="{{roster5}}"></td>
                </tr>                      
        </table>  
        <p></p>
        <p></p>
        <p></p> 
        <h3>メンバーの確認画面へ</h3>
        <input type="submit" class="btn", value="確認" >
        <!--<button class="btn" onclick="location.href='submit'">登録・次へ </button>-->
        
        <p></p>
        <p></p>
        <p></p>  
    </form>
    <!--<P1>ログアウトする</P1><br>
    <button class="btn1" onclick="location.href='/logout'">ログアウト</button>-->
    <P1>ログアウトする</P1>
    <a href="/logout"  role="botton">ログアウト</a>
</head></html>
            
{% endblock %}