{% extends "base.html" %}
{% block content %}
<html><head>
    <!--CSSを埋め込む-->
    <link rel="stylesheet"
    href="{{url_for('static',filename='style.css')}}">

    <!--ブラウザバック禁止　JavaScript-->
    <script>
        history.pushState(null, null, null);
        $(window).on("popstate", function (event) {
        if (!event.originalEvent.state) {
        history.pushState(null, null, null);
       return;
        }
        });
   </script>
</head></html>

<img src="/image/R3.jpg" alt="写真">
<h2>注意❕</h2>
<h2>社員番号入力してください。</h2>
<form method="POST">
<a href="/{{id}}/kintaireturn"  role="botton">勤怠入力へ</a>

{% endblock %}