{% extends "base.html" %}
{% block content %}
<html><head>
<style>
/* スマートフォン対応 
@media screen and (max-width: 768px) {
    body {
    font-size: 18px;
    }
}
/*ボタンスタイル*/
.btn {
    background-color: rgb(151, 201, 248);
    color: rgb(78, 4, 4);
    font-size: 28px;
    padding: 4px 6px;
}
.btn1 {
    background-color: white;
    color: black;
    font-size: 12px;
    padding: 10px 33px;
}
</style>

<img src="/image/R3.jpg" alt="写真">
<h1>実施店舗入力</h1>
<p></p>
<P1>ログアウトする</P1>&nbsp;<a href="/logout"  role="botton">ログアウト</a>
<p></p>
    <form method="POST" action="#">
    <!--<form action="/storepost" method="POST">-->
        <table border="2" bgcolor="#CCFFFF">
        <tr>
            <th>実施日入力</th>
{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <li>
            <i>
                <font color="red">{{ message }}</font>
            </i>
        </li>
    {% endfor %}
{% endwith %}
<p>
</p>
        <tr>
            <td width="180">
                <input  type="date" size="40"  required="required", name="date" value={{date}} >
            </td>
        </tr>
    </table>
    <table border="2" bgcolor="#CCFFFF">
        <tr>
            <th>店舗コード入力</th>
        </tr>
        <tr>
            <td width=180">
                <input type="text"  required="required" minlength="6" maxlength="6" , name="storeNo" value={{storeNo}} >
            </td>
        </tr>
    </table>
    <p></p>
    <input type="submit" class="btn", class="btn", value="確認へ" >
</form>
</head></html>

{% endblock %}