{% extends "base.html" %}
{% block content %}
<html><head>
    <!--CSSを埋め込む-->
    <link rel="stylesheet"
    href="{{url_for('static',filename='style.css')}}">
    <style>
        /* スマートフォン対応 
        @media screen and (max-width: 768px) {
          body {
            font-size: 18px;
          }
        }
        /*ボタンスタイル*/
        .btn {
            background-color: rgb(151, 201, 248);
            color: rgb(78, 4, 4);
            font-size: 33px;
            padding: 4px 8px;
        }
        .btn1 {
            background-color: white;
            color: black;
            font-size: 12px;
            padding: 10px 30px;
        }
      </style>
    <!--ブラウザバック禁止　JavaScript-->
    <script>
        history.pushState(null, null, null);
        $(window).on("popstate", function (event) {
        if (!event.originalEvent.state) {
        history.pushState(null, null, null);
       return;
        }
        });
   </script>         


    <img src="/image/R3.jpg" alt="写真">
    <h1>カメラ画像保存</h1>
    <h1></h1>
    <h3>タイムシートを撮影して</h3>
    <h3>画像を保存</h3>

    <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="photo_data" accept="image/*">
        <p></p>
        <input type="submit" class="btn", value="送信" > 
    </form>
    {% endblock %}
