{% extends "base.html" %}
{% block content %}
<html><head></head>
    <!--CSSを埋め込む-->
    <link rel="stylesheet"
    href="{{url_for('static',filename='style.css')}}">
<script>

  history.pushState(null, null, null);

  //ブラウザの戻る／すすむボタンで発火するイベント
  window.onpopstate = function (event) {
          //連続で戻るボタンがクリックされたときにも戻れない様に、履歴にnullを追加する。 
          history.pushState(null, null, null)
      var r = confirm("このページでのブラウザの戻るボタンは禁止されています。トップページに移動しますか？");
      if (r == true) {
          //コンテキストルートに戻る
          var context = window.location.pathname.substring(0, window.location.pathname.indexOf("/logout", 2));
          window.location.replace(context);
      } else {

      }
  };
</script>  
    <style>
        /* スマートフォン対応 
        @media screen and (max-width: 768px) {
          body {
            font-size: 18px;
          }
        }
        /*ボタンスタイル*/
        .btn {
            background-color: rgb(151, 201, 248);
            color: rgb(78, 4, 4);
            font-size: 33px;
            padding: 4px 28px;
        }
        .btn1 {
            background-color: white;
            color: black;
            font-size: 12px;
            padding: 10px 30px;
        }
      </style>    

    <img src="/image/R3.jpg" alt="写真">
    <h1>カメラ画像保存</h1>
    <h1></h1>
    <h3>タイムシートを撮影して</h3>
    <h3>画像を保存</h3>

    <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="photo_data" accept="image/*">
        <p></p>
        <input type="submit" class="btn", value="送信" > 
    </form>
    {% endblock %}
